body {
  background-color: #eeeeee;
  font-family: 'Space Mono', monospace;
}

h1, h3 {
  text-align: center;
}

h3 {
  margin-top: -20px;
}

#square {
  position: absolute;
  top: 0;
  width: 100px;
  height: 100px;
  border: 3px solid black;
  border-radius: 4px;
  margin-left: -3px;
  z-index: 1;
  background-size: 100px 100px;
}

.game {
  width: 322px;
  height: 600px;
  margin: 80px auto;
  position: relative;
}

.column {
  position: relative;
  width: 100px;
  height: 600px;
  border: 3px solid black;
  float: left;
  margin-top: -54px;
  margin-left: -4px;
}

#play-row {
  border: 3px solid black;
  width: 303px;
  height: 106px;
  position: absolute;
  bottom: 48px;
  margin-left: -4px;
  margin-bottom: 100px;
  background-color: red;
}

.left-box {
  font-size: 30px;
  margin: 200px 0px 0px 50px;
  float: left;
  border: 3px solid black;
  border-radius: 5px;
  padding: 10px;
  width: 170px;
  height: 150px;
  text-align: center;
}

.right-box{
  font-size: 30px;
  float: right;
  border: 3px solid black;
  border-radius: 5px;
  margin: -552px 50px 0px -70px;
  width: 180px;
  height: 170px;
  text-align: center;
}

button {
  padding: 13px;
  font-size: 25px;
  border-radius: 5px;
}

/*ul.game-board {
  width: 300px;
  height: 500px;
  background-color: red;
  margin: 40px auto;
  padding: 0;
  border: 6px solid black;
}

li {
  list-style-type: none;
  border-radius:40px;
}

.grid, .play-row {
  width: 94px;
  height: 94px;
  border: 3px solid black;
  float: left;
}

.bottom-grid {
  width: 94px;
  height: 94px;
  border: 3px solid black;
  float: left;
  /*display: none;*/
}*/
